{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block body %}
  <h3>Overview</h3>
  <h4>Keywords</h4>
  <table>
    {% for k in keywords %}
      <tr><td>{{ k[0] | capitalize }}:<td>{{ k[1] }}
    {% endfor %}
  </table>
  <br>
  A total of {{ '{:,}'.format(links) }} links between keywords, {{ '{:,}'.format(unique_links) }} of that are unique ({{ '{:.2f}'.format(100*unique_links/links) }}%).
  <h4>Requests</h4>
  <table>
    {% for s in status %}
      <tr><td>{{ s[1] | capitalize }}:<td>{{ s[2] }}
    {% endfor %}
  </table>
  <h4>Timeframes</h4>
  {{ timeframes[0] }} timeframes containing {{ "{:,}".format(timeframes[1]) }} data points in total
  (Average {{ "{:.2f}".format(timeframes[1]/timeframes[0]) }} data points per timeframe)
  <h4>Geographic data</h4>
  {{ "{:,}".format(geo) }} geographic data points ({{ '{:.2f}'.format(100*geo_nonzero/geo) }}% nonzero).
  <h3>Status</h3>
  {% if rfo > 0 %}
    <h4>Raw fetcher output</h4>
    {{ rfo }} unprocessed result{% if rfo > 1 %}s{% endif %} in <tt>raw_fetcher_output</tt>
  {% else %}
    No messages
  {% endif %}
{% endblock %}
