{% extends "base.html" %}
{% block title %}Requests referencing {{ l_name }}{% endblock %}
{% block body %}
  <h3>Requests referencing location {{ l_name }}</h3>
  <table>
    <thead><th>Request Id</th><th>Keyword</th><th>Time frame</th></thead>
    {% for r_id, k_id, k_pretty, start, end in referenced %}
      <tr><td><a href="{{ url_for('request_detailed', r_id=r_id) }}">{{ r_id }}</a></td>
	<td><a href="{{ url_for('keyword_detailed', k_id=k_id) }}">{{ k_pretty }}</a></td>
	<td>{{ start }} - {{ end }}</td>
      </tr>
    {% endfor %}
{% endblock %}
